{%extends "layout.html"%}
{%block title%}{{titel}}{%endblock%}
{%block main%}
<nav class="navbar navbar-light bg-light" style="margin-bottom: 3rem;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{url_for('static', filename='ieeeLogo.png')}}" alt="ieeeLogo" class="d-inline-block align-text-top"
      style="width: 20%;
    max-height: 100%;">
    </a>
    <a href="#"
    style="position: absolute;
    right: 1%;
    text-decoration: none;
    font-size: xx-large;
    font-weight: 700;" id="heder">
        IEEE AL Neelain Branch
    </a>
  </div>
</nav>

<main>
    <div class="container">
        {% with message = get_flashed_messages(with_categories=true) %}
          {% if message %}
              {% for category, message in message %}
                  <div class="alert alert-{{ category }}"  id="aleart">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
        <form action="{{url_for('home.index')}}" method="POST">
            <div class="mb-3">
                <label for="full_name" class="form-label">Full name</label>
                <input type="text" class="form-control" id="full_name" name="full_name" required onchange="test();">
                <span id="error1"></span>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required onchange="test();">
                <span id="error2"></span>
            </div>


            <button type="submit" class="btn btn-primary" disabled id="submit"">Submit</button>
        </form>

        <section>
          <ul class="notes">
            <li>Make sure to enter the name and email correctly.</li>
            <li>If you enter un email that was entered previously, a warning message will appear indicating that error.</li>
            <li>In the event that a valid name and e-mail has been entered and the email has not been entered before, an e-mail will be sent with the acceptance text and the rest of the information attached with the qrcode</li>
            <li>This system is only for Al-Neelain University branch</li>
          </ul>
        </section>
    </div>
    
</main>
{%endblock%}