@media only screen and (max-width: 600px) {
  #heder{
    font-size: inherit !important;
  }
}

.notes{
    margin-top: 3rem;
    border: 0.5px solid;
    background-color: #f3f2f2;
    box-shadow: 0.2px 0.2px 5.2px;
}

.notes li{
    color: #007bff;
    margin: .5rem;
    font-weight: 600;
}